<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>ChoiMeml</title>
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body id="body" v-style="font-family: options.font">
  <div class="amemo-root">
    <div class="amemo-add" v-class="amemo-add-act: bool.newMemo">
      <div role="button" class="amemo-add-button" v-attr="title: add.title" v-on="click: showNewMemo"><i class="i-add"></i></div>
      <div class="amemo-new">
        <textarea id="v-add-main" class="amemo-new-textarea" v-model="add.main" placeholder="メモを入力" v-on="keydown: addMemoSc($event, add.main), keyup: changeNew($event, add.main)"></textarea>
        <div class="amemo-new-menu" v-class="amemo-new-opacity: bool.hasNew">
          <div id="v-reset" role="button" class="amemo-new-reset" v-on="click: addReset(add.main)">リセット</div>
          <div role="button" class="amemo-new-button" v-on="click: addMemo(add.main)"><span class="amemo-new-btnlabel">メモを追加</span></div>
        </div>
      </div>
    </div>
    <input class="amemo-search" type="text" v-model="searchText" placeholder="メモを検索">
    <div class="amemo-repeater" v-repeat="data: reverseDatas | filterBy searchText">
      <div id="memo-{{$index}}" class="amemo-content">
        <aside class="amemo-menu-page">
          <div role="button" class="amemo-pin" title="メモをピン止め" v-class="amemo-pin-act: $index == setting.pinIdx" v-on="click: onPin($index)"><i class="i-pin"></i></div>
        </aside>
        <!-- <div class="amemo-memo render-root" v-cass="amemo-mode-noraml: (data.mode == 'normal')" v-html="renderMain(data)"></div> -->
        <!-- <div class="amemo-memo render-root" v-class="amemo-mode-noraml: (data.mode == 'normal')" v-html="renderMain(data)"></div> -->
        <div v-if="$index != editIdx" v-render-memo="data" class="amemo-memo render"></div>
        <textarea v-if="$index == editIdx" id="edit-{{$index}}" class="amemo-memo-edit render" v-model="data.main" v-on="keydown: editMemoSc($event, $index, data)"></textarea>
        <aside class="amemo-meta">
          <div class="amemo-date" v-text="data.date"></div>
          <div class="amemo-url"><a class="amemo-a" v-attr="href: setUrl(data.url), target: options.target" v-text="data.url"></a></div>
        </aside>
        <aside class="amemo-menu-memo">
          <div role="button" class="amemo-edit" v-class="amemo-edit-act: $index == editIdx" v-on="click: editMemo($index, data)" title="このメモを編集"><i v-class="i-ok: $index == editIdx, i-edit: $index != editIdx"></i></div>
          <div role="button" class="amemo-delete" v-on="click: deleteMemo($index)" title="このメモを削除"><i class="i-del"></i></div>
        </aside>
      </div>
    </div>
  </div>
  <script src="js/vue.min.js"></script>
  <script src="js/marked.min.js"></script>
  <script src="js/newtab.js"></script>
</body>
</html>